/* toggle button */
.toggleButtonGroup {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    margin-top: 16px;
}

.toggleButton {
    border: 1.5px solid #565656 !important;
}

.toggleButton:first-child {
    border-right: none !important;
}

.toggleButton:last-child {
    border-left: none !important;
}

.toggleButton.selected {
    color: white !important;
    background-color: #217dd8 !important;
}

.toggleButton:hover {
    background-color: rgb(133, 186, 239) !important;
}

/* button */
.arrowButton {
    background-color: #217dd8 !important;
    color: white !important;
    margin-top: 8px !important;
    min-width: 36px !important;
    padding: 2px !important;
}

.arrowButton:disabled {
    background: #e0e0e0 !important;
    color: #A6A6A6 !important
}

.arrowButton:hover {
    background-color: #337AB7 !important;
}

.arrowIcon {
    margin: 2px 6px !important;
}

/* union difference and intersection icon */
.iconify.iconify--gis {
    margin-right: 5px;
}

/* list header */
.listSubheader {
    font-size: 1.0em !important;
    background-color: #217dd8 !important;
    color: white !important;
    padding-left: 17px !important;
    border-radius: 4px 4px 0 0 !important;
    border-bottom: 2px solid #000000 !important;
    position: relative !important;
}

.scrollableList {
    overflow: auto;
    max-height: 250px;
}